body {
    margin: 0;
    font-family: "Arial, Helvetica", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1/ 3;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

